.intro {
	height: 80vh;
	background-image: url("/static/images/indexbackground.jpg");
	background-size: 100% auto;

	background-position-y: 30%;
	
	color: white;
	position: relative;
}

.intro-text-container {
	display: flex;
}

.intro-text {
	margin: 0 auto;
	font-size: 35px;

	text-align: center;
	line-height: 2;

	margin-top: 175px;

	padding: 50px;

	color: rgb(158, 43, 37);
	background-color: white;
	text-align: center;

	width: 500px;
}

.subtext {
	font-size: 25px;
}

.portfolio-container {
	font-size: 25px;
	padding: 25px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

.bucket-header {
	margin-left: 50px;
}

.portfolio-card {
	position: relative;

	width: 250px;
	height: 250px;
	margin: 25px;

	border: 1px solid;
	font-size: 20px;

	cursor: pointer;
	background-size: cover;

	user-select: none;
	-moz-user-select: none;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.portfolio-card .project-tagline {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background-color: rgba(8, 61, 119, 0.75);
	
	text-align: center;
	width: 250px;
}

.tagline-content {
	position: relative;
	padding: 15px;
	color: white;
	line-height: 2;
	user-select: none;
}

.portfolio-card:hover .project-tagline {
	opacity: 1;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.portfolio-card[portfolio-name="fastflying"] {
	background-image: url("/static/images/fastflying.png");
}

.portfolio-card[portfolio-name="smsinternet"] {
	background-image: url("/static/images/smsinternet.jpg");
}

.portfolio-card[portfolio-name="taplytics"] {
	background-image: url("/static/images/taplyticsSquare.png");
	background-position-x: -10px;
}

.portfolio-card[portfolio-name="freelancing"] {
	background-image: url("/static/images/work-expirence-background.jpeg");
}

.portfolio-card[portfolio-name="league"] {
	background-image: url("/static/images/OCR.png");
	background-position-y: -30px;
}

.portfolio-card[portfolio-name="hip"] {
	background-image: url("/static/images/hipbackground.jpeg");
}

.portfolio-card[portfolio-name="ideo"] {
	background-image: url("/static/images/ideobackground.jpg");
}

.portfolio-card[portfolio-name="robotics"] {
	background-image: url("/static/images/roboticsbackground.png");
}

.portfolio-card[portfolio-name="readinglog"] {
	background-image: url("/static/images/readinglogbackground.jpg");
}

.portfolio-card[portfolio-name="flight-analyzer"] {
	background-image: url("/static/images/flightanalyzer.jpg");
}

.about {
	background-color: rgb(8,61,119);
	margin-top: 25px;

	padding: 25px;
}

.bio-image {
	border-radius: 50%;

	background-image: url("/static/images/ryan.jpg");

	height: 350px;
	width: 350px;

	background-size: cover;

	float: left;
	margin-right: 35px;
	margin-bottom: 35px;
}

.bio {
	padding-top: 100px;
	padding-bottom: 100px;
	margin-left: 15%;
	margin-right: 15%;
}

.bio-text {
	color: white;
	line-height: 2;
	font-size: 17.5px;
}

.bio-text a {
	color: white !important;
}

.see-projects {
	cursor: pointer;

	font-size: 25px;

	padding: 20px;

	margin: 15px 0 0 0;

	background-color: rgb(158,43,37);

	color: white;
}