.main-content {
	margin-left: 15%;
	margin-right: 15%;
} 

.page-header {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 50px 15px 15px 15px;
	border-bottom: 2px solid black;
	text-align: center;
	font-size: 35px;
}

div.project-description {
	font-size: 15px;
	line-height: 2.5;

	font-family: 'Crimson Text', serif;
	text-indent: 25px;
}

div.subhead {
	font-size: 17.5px;
	padding: 25px;

	font-family: 'Raleway', sans-serif;
}

.project-description {
	margin-bottom: 150px;
}

.project-description img {
	height: 500px;
	margin: 20px;
}

img.mid-sized {
	width: 600px;
}

.right {
	float: right;
}

.left {
	float: left;
}

img.small {
	height: 300px;
}

img.skinny {
	height: auto;
	width: 350px;
}

img.medium {
	height: auto;
	width: 600px;
}

*.demo-image {
	width: 80%
	height: auto !important;
	margin: 5%;

	display: block;
}

*.demo-image img {
	width: 100%;
	height: auto;
	margin: 0;

	display: block;
}

img.sms-internet-image {
	width: 35%;
	height: auto;
	margin: 15px;
	float: right;
}